body {
    margin:0%;
    padding: 0%;
    background-image: url('mainbackground.png'); 
    background-size:100% 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
  }

  .title {
    margin: 10% 0;
    
    text-align: center;
    color: yellowgreen;
    font-size:110px !important;
    font-family:'Schwifty', sans-serif !important;
  }

   .container {
    display: flex;
    
    align-items: center;
    margin: 0;
  }
  
  .sub-titles {
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    color: yellowgreen;
    font-size: x-large;
  }

  .navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
  }
  .navbar>.container, .navbar>.container-fluid {
    justify-content: end !important;
    margin: 2%;
}

  @font-face {
    font-family: 'Schwifty'; 
    src: url('get_schwifty.ttf') format('truetype'), 
  }
  