body {
    margin:0%;
    padding: 0%;
    background-image: url('../Images/nieuwebackground.png'); 
    background-size:100% 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
  }

  .titel{
  
    width: 100% ;
    position: absolute;
    top: 5%;
    text-align: center;
    color: yellowgreen;
    font-size:x-large;
    text-decoration:none;

  }
  .table thead{
    color: yellowgreen;

  }
  .table tbody{
    color: yellowgreen;

  }
  .table{ 
    position: absolute;
    text-align: center;
    text-align: center;
    top: 15%;
    font-size: large;

    
  }